<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>Home</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel commodi illum maxime fugit praesentium veniam
        quaerat, quasi quibusdam rem omnis eveniet enim. Sed, laudantium iusto eos recusandae ea id rerum.</p>
</body>

</html>